h1{
      margin-top:3em;
  }

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

#card_1{
   background-color: lightsalmon;
}

#card_2{
    background-color: lightblue;
}

#card_3{
    background-color: lightgreen;
}