<nav>
    <div id="mySidenav" class="sidenav">
        <div class="nav" id="mySidecontent">
            <a href="/Agence_Web/web/"><h1 class="leon">LEON</h1></a>

            {% for Page in pagesMenu %}
                <a href="{{ path('oc_web_agency_front_page', {slug: Page.slug}) }}">{{ Page.title }}</a>
            {% endfor %}

            <a href="{{ path('oc_web_agency_blog') }}">Le blog</a>
            <a href="{{ path('oc_web_agency_createcontact') }}">Nous contacter</a>

        </div>

    </div>
    <div class="menu-icon">
        <span></span>
    </div>
</nav>

